@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.ff_Poppins {
    font-family: 'Poppins';
}

.hero_img {
    background-image: url(./assets/image/png/hero_section_img.png);
}

.bg_img3 {
    background-image: url(./assets/image/png/bg_img3.png);
}

.section_bg_img3 {
    background-image: url(./assets/image/png/section3_bg_img.png);
}

.bg_img5 {
    background-image: url(./assets/image/png/bg_img5.png);
}

.bg_gradient {
    background: linear-gradient(165deg, #021A38 0.18%, #CC33D9 61.93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn_color {
    background: linear-gradient(181deg, #021A38 -30.61%, #CC33D9 132.4%);
}

.btn_color:hover {
    background: linear-gradient(181deg, #1066cf -30.61%, #d608e9 132.4%);
}

.bg_color {
    background: linear-gradient(174deg, rgba(2, 26, 56, 0.98) -12.41%, rgba(204, 51, 217, 0.98) 88.56%);
}

.footer_img {
    background-image: url(./assets/image/png/Footer_img.png);
}

.text-gradient {
    background: linear-gradient(178deg, #FD749B -13.56%, #281AC8 158.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradint_color {
    background: linear-gradient(178deg, #f50b4d -13.56%, #8c83f1 158.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg_gradient_color {
    background: linear-gradient(178deg, #FD749B -13.56%, #281AC8 158.3%);
}

.bg_gradient_color:hover {
    background: linear-gradient(17deg, #f11e5a -13.56%, #1502e0 158.3%);
}

.btn_color1 {
    background: linear-gradient(178deg, #021A38 -13.56%, #CC33D9 118.02%);
}

.slick-track {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex !important;
    align-items: center !important;
}




.slick-current .slider-img {
    object-fit: cover;
    width: 100%;
    height: 224px;
    border-radius: 17px !important;
}

.slick-current .text-curnt {
    background: linear-gradient(178deg, #FD749B -13.56%, #281AC8 158.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.slick-current .curnt-btn {

    background: linear-gradient(181deg, #021A38 -30.61%, #CC33D9 132.4%);
}

.slick-current .slider-btn1 {
    display: flex;
    justify-content: center !important;
}

.slick-current .box {
    border-radius: 15px !important;
    padding: 23px 40px 23px 40px;
}

@media (min-width:1024px) {
    .slick-current {
        transform: scale(1.3);
        transition: all 300ms ease-in-out;
    }
}